<section class="section forecast">
    <div class="card card-lg forecast-card">
        <h2 class="title-2" id="forecast-label">{{ 'five-days-forecast.title' | translate }}</h2>
        @for (forecast of forecasts(); track forecast) {
            <div class="card-item">
                <div class="icon-wrapper">
                    <img [src]="'assets/img/weather_icons/' + forecast.icon + '.png'" width="36" height="36" [alt]="forecast.description"
                        class="weather-icon" [title]="forecast.description | capitalizeFirstWord" />
                    <span class="span">
                        <p class="title-2">{{ forecast.temp_max | parseInt }}&deg;</p>
                    </span>
                </div>
                <p class="label-1">{{ forecast.date | date: 'd MMM' | titlecase }}</p>
                <p class="label-1">{{ forecast.dayOfWeek | translate }}</p>
            </div>
        }
    </div>
</section>